@* This is the page for a specific article. *@
@model Degree53_BlogTechTest.Data.Models.ArticleModel

<div class="GeneralWrapper">
    @{
        <div class="GeneralFocusArea">
            <p id="ArticleTitle">@Model.Title</p>
            <p id="ArticleMeta">Posted by @Model.OwnerUsername on @(Model.DateTimePosted.ToString("dddd, dd MMMM yyyy"))</p>
            <p id="ArticleContent">@Model.Content</p>

            <form asp-controller="Article" asp-action="DeleteArticle" method="delete">
                <input type="submit" class="BlueBtn NoMarginButton" value="Delete Article">
            </form>
        </div>
    }
</div>