<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Degree 53 Bloggr</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Article.css" />
    <link rel="stylesheet" href="~/css/Add.css" />
    <link rel="stylesheet" href="~/css/Settings.css" />
</head>
<body>
    <div>
        <div class="ContentWrapper">
            <header>
                <nav class="border-bottom box-shadow">
                    <div class="HeaderDiv">
                        <div class="border-bottom box-shadow TitleDiv">
                            <a href="/Home" class="BrandLink">
                                <h1>Bloggr</h1>
                            </a>
                        </div>
                        <partial name="~/Views/Shared/NavBar.cshtml" />
                    </div>
                </nav>
            </header>
            <div>
            <div>
                <main role="main">
                    @RenderBody()
                </main>
            </div>

            <div class="footer">
                Degree 53 Blog Tech Test - Written by Max Goddard - 16/5/2020
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
