<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Degree 53 Bloggr</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="border-bottom box-shadow">
            <div class="HeaderDiv">
                <div class="border-bottom box-shadow TitleDiv">
                    <h1>Bloggr</h1>
                </div>
                <div class="NavBarDiv">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Add">Write</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div>
            Degree 53 Blog Tech Test - Written by Max Goddard - 16/5/2020
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
