<div class="NavBarDiv">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @if (true)
        {
            <li>
                <a asp-controller="Article" asp-action="Add">Add</a>
            </li>
        }
        <li>
            <a asp-controller="Home" asp-action="Settings">Settings</a>
        </li>
    </ul>
</div>