@* Page for creating the article *@
@model Degree53_BlogTechTest.Data.Models.ArticleModel
<div>
    <h2>Create Article</h2>
    <form asp-controller="Home" asp-action="Add" method="post">
        <input type="text" asp-for="Title" placeholder="What's the title of your blog?">
        <br />
        <input type="text" asp-for="Content" placeholder="Write your blog here.">
        <br />
        <input type="text" asp-for="OwnerUsername" placeholder="What's your name?">
        <br />
        <input type="submit" value="Create Article">
    </form>
</div>
