@* Page for creating the article *@
@model Degree53_BlogTechTest.Data.Models.ArticleModel
<div>
    <h1>Create Article</h1>
    <form asp-controller="Home" asp-action="Add" method="post">
        <input type="text" asp-for="Title" placeholder="What's the title of your blog?" value="a">
        <br />
        <input type="text" asp-for="Content" placeholder="Write your blog here." value="b"/>
        <br />
        <input type="text" asp-for="OwnerUsername" placeholder="What's your name?" value="c">
        <br />
        <input type="submit" value="Add">
    </form>
</div>
