@* This is the page for a specific article. *@

<div>
    @{
        <div>
            <h4>This is an article title</h4>
            <p>This could be some article content. Bla bla bla.</p>
        </div>
    }
</div>