@* This is the page for a specific article. *@
@model Degree53_BlogTechTest.Data.Models.ArticleModel

<div>
    @{
        <div>
            <h4>@Model.Title</h4>
            <p>@Model.Content</p>
        </div>
    }
</div>