<div class="text-center">
    <h1 class="display-4">Bloggr</h1>
    <div>
        <ul>
            @for (int i = 0; i < 5; i++)
            {
                <li>List item @i</li>
            }
        </ul>
    </div>
</div>
