@* This is the homepage where all the articles are shown. *@

<div class="ArticlesWrapper">
    @{
        foreach (var article in Model.Articles)
        {
            <div class="ArticleDiv">
                <a href="/Article/Article/@article.Id">
                    <div>
                        <h4>@article.Title</h4>
                        <p>Posted by @article.OwnerUsername at @article.DateTimePosted.ToString()</p>
                    </div>
                </a>
        </div>
        }
    }
</div>