<div class="GeneralWrapper">
    @{
        <div class="GeneralFocusArea">
            <h2 id="ChecklistTitle">Checklist Page</h2>
            <p id="ChecklistDisclaimer">Starting with most important. Unfortunately just static at the moment.</p>
            <ul class="Checklist">
                <li>[x] Setup basic app</li>
                <li>[x] Integrate Database (SQL Server Express LocalDB)</li>
                <li>[x] Seed database on app start</li>
                <li>[x] Read articles from database</li>
                <li>[x] Create new articles</li>
                <li>[x] Clicking article takes to article page</li>
                <li>[_] Conditionally render Add button</li>
                <li>[x] Delete articles</li>
                <li>[x] Unit Tests</li>
                <li>[_] More meaningful unit tests</li>
                <li>[x] Error handling and logging</li>
                <li>[x] Sticky footer</li>
                <li>[x] Add settings page</li>
                <li>[x] Form validation</li>
                <li>[x] I'm an admin checkbox</li>
                <li>[x] When article added route to the page for that article</li>
                <li>[x] Split out CSS classes</li>
                <li>[x] Basic web design (CSS)</li>
                <li>[_] Filter by time created</li>
                <li>[x] Split out controllers</li>
                <li>[_] Split out repositories</li>
                <li>[_] Seed automatically creates the db</li>
                <li>[_] Global exception handler</li>
                <li>[_] 404 Page</li>
                <li>[_] Better user feedback</li>
            </ul>
        </div>
    }
</div>