.ContentWrapper {
    padding-bottom: 2rem;
    position: relative;
    min-height: 94vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2a2a2a;
}

.GeneralWrapper {
    background-color: #f0f0f0;
    padding-top: 5px;
    min-height: 78vh;
}

.GeneralFocusArea {
    border: 1px solid #bababa;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
    border-radius: 5px;
}

.BlueBtn {
    margin-top: 30px;
    padding: 8px;
    margin-left: 10px;
    border: solid 1px #189eff;
    border-radius: 4px;
    background-color: #2ca6ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bolder;
}

a {
    color: #0366d6;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.NavBarDiv ul {
    padding: 0;
    text-align: center;
}

.NavBarDiv li {
    display: inline;
    padding: 0 7px 0 7px;
}

.NavBarDiv a {
    text-decoration: none;
    font-size: 20px;
}

.NavBarDiv a:hover {
    color: red;
}

.HeaderDiv {
    display: inline;
    background-color: white;
}

.TitleDiv {
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

.TitleDiv a {
    text-decoration: none;
    color: black;
}