a {
  color: #0366d6;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}

.NavBarDiv ul {
    padding: 0;
    text-align: center;
}

.NavBarDiv li {
    display: inline;
    padding: 0 5px 0 5px;
}

.NavBarDiv a {
    text-decoration: none;
    font-size: 20px;
}


.NavBarDiv a:hover {
    color: red;
}

.HeaderDiv {
    display: inline;
}

.TitleDiv {
    text-align: center;
    padding-top: 5px;
}

.ShowcaseArticleDiv {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}